[Unit]
Description=backend

[Service]
User=hughfharding
WorkingDirectory=~/TeamAPoolProjectBackend
ExecStart=/usr/bin/node ~/TeamAPoolProjectBackend/Index.js


[Install]
WantedBy=multi-user.target
