[Unit]
Description=backend

[Service]
User=hughfharding
WorkingDirectory=~/terraform/TeamAPoolProjectBackend
ExecStart=/usr/bin/node ~/terraform/TeamAPoolProjectBackend/Index.js


[Install]
WantedBy=multi-user.target
