[Unit]
Description=frontend

[Service]
User=h1
WorkingDirectory=~/terraform/TeamAPoolProjectUI
ExecStart=/usr/local/bin/ng s --host 0.0.0.0 

[Install]
WantedBy=multi-user.target
